@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

/* Default styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body{
  height: 100vh;
  width: 100vw;
  font-family: 'Manrope', sans-serif;
  font-size: 28px;
}

/* Main styles */
main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95%;
  width: 100%;
  flex-direction: column;
  background-color: hsl(218, 23%, 16%);
}

.advice-container{
  background-color:  hsl(217, 19%, 24%);
  height: auto;
  width: 500px;
  padding: 25px;
  text-align: center;
  border-radius: 12px;
  box-shadow:  0 3px 10px rgb(0 0 0 / 0.2);
}

.advice-container h3{
  color: hsl(150, 100%, 66%);
  font-size: 18px;
}

.advice-container p{
  margin: 20px 0;
  color: #fff;
}

.pattern-divider{
  height: 50px;
  /* width: auto; */
  background-image: url(../images/pattern-divider-desktop.svg);
  background-repeat: no-repeat;
}

.dice-container{
  height: 55px;
  padding: 10px;
  background-color: hsl(150, 100%, 66%);
  width: 60px;
  margin-left: 42.5%;
  margin-bottom: -50px;
  border-radius: 50%;
}
